/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  display: grid;
  font-family: var(--main-font, 'Inter', sans-serif);
  background-image: var(--bg-page-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  padding: 100px 0;
  min-block-size: 375px;
  min-height: 527px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
}

.header__content-block {
  font-family: var(--accent-font, 'PressStart2P-Regular', monospace);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--border-color, #000);
  background-color: var(--bg-color);
}

.header__title {
  font-family: var(--accent-font, 'PressStart2P-Regular', monospace);
  font-size: clamp(49px, 43.37px + 1.50vw, 65px);
  font-weight: 400;
  font-style: normal;
}

.header__subtitle {
  font-family: var(--accent-font, 'PressStart2P-Regular', monospace);
  font-size: clamp(14px, 10.71px + 0.88vw, 23px);
  font-weight: 400;
  text-transform: uppercase;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
}

.main-content__cards-section {
  min-block-size: var(--block-width);
}

.main-content__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 49px;
}

.card-item {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
}

.card__title {
  font-weight: 715;
  font-size: 18px;
  padding: 5px 10px;
}

.card-image__container {
  /* без свойства line-height обёртка изображения
   создаёт лишние пиксели под картинкой */
  line-height: 0;
  position: relative;
  overflow: hidden;
}

.card-label {
  position: absolute;
  top: 35px;
  right: 25px;
  opacity: 0.6;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font, 'PressStart2P-Regular', monospace);
  font-size: var(--text-font-size-small, 14px);
  z-index: 5;
}

.filter__hue-rotate {
  filter: hue-rotate(-325deg);
}

.filter__brightness {
  filter: saturate(130%);
}

.filter__grayscale {
  filter: grayscale(25%);
}

.filter__retro {
  filter: sepia(90%);
}

.filter__blur {
  filter: blur(0.5rem);
}

.filter__combine {
  filter: hue-rotate(-250deg) saturate(200%);
}

@supports (text-stroke: 1px #fff) {
  .card-label {
    -webkit-text-stroke: 1px #fff;
  }
}

@supports not (text-stroke: 1px #fff) {
  .card-label {
    text-shadow:
      -1px -1px #fff,
      1px -1px #fff,
      -1px 1px #fff,
      1px 1px #fff;
  }
}

.card-image {
  min-width: 371px;
  min-height: 371px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__text {
  padding: 25px;
  font-size: var(--text-font-size, 18px);
}

.card__text-memories {
  padding-top: 0;
}

.button-container__like {
  display: flex;
  justify-content: end;
  margin-right: 25px;
  margin-bottom: 21px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
}

.contour {
  transition: fill 0.1s linear 0s;
}

.core {
  transition: fill 0.3s linear 0.03s;
}

.main-body {
  transition: fill 0.3s linear 0s;
}

.sparks {
  opacity: 0;
}

.like-icon:hover .core {
  fill: #000;
  transition: fill 0.3s linear 0s;
}

.like-icon:hover .main-body {
  fill: #000;
  transition: fill 0.3s linear 0.05s;
}

.like-icon:active .core {
  fill: var(--like-icon-fill-color, #ff0000);
  transition: fill 0.3s linear 0s;
}

.like-icon:active .main-body {
  fill: var(--like-icon-fill-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .core {
  fill: var(--like-icon-fill-color, #ff0000);
  transition: fill 0.3s linear 0s;
}

.like-icon.is-liked .main-body {
  fill: var(--like-icon-fill-color, #ff0000);
  transition: fill 0.3s linear 0.05s;
}

.like-icon.is-liked .contour {
  fill: var(--like-icon-fill-color, #ff0000);
  transition: fill 0.3s linear 0.06s;
}

.like-icon.is-liked .heart {
  animation: hearts 0.3s ease-in 0.1s;
  transform-origin: center;
}

.like-icon.is-liked .sparks {
  animation: spark 0.3s ease-in 0.3s;
  transform-origin: center;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  border: 2px solid currentColor;
}

.card__like-button {
  position: relative;
  overflow: hidden;
  background-color: transparent;
  min-width: 130px;
  max-height: 38px;
  transition: box-shadow 0.3s ease;
}

.card__like-button .button__text {
  position: relative;
  color: white;
  background-color: black;
  mix-blend-mode: difference;
}

.card__like-button::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.card__like-button:hover::before {
  transform: translateX(0);
}

.card__like-button:focus {
  box-shadow: 2px 2px 0 currentColor;
  outline: none;
}

.button__text {
  font-family: var(--accent-font, 'PressStart2P-Regular', monospace);
  font-size: var(--text-font-size-small, 14px);
}

.button-container__save {
  margin: 51px 34.5px 100px 34.5px;
  background-color: #fff;
  max-block-size: 84px;
  max-width: 306px;
}

.button-save-icon {
  flex-shrink: 0;
  mix-blend-mode: difference;
  color: #fff;
}

.button-save {
  min-block-size: 84px;
  min-width: 306px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  position: relative;
  overflow: hidden;
  background-color: transparent;
  transition: box-shadow 0.3s ease;
}

.button-save .button__text {
  position: relative;
  color: white;
  background-color: black;
  mix-blend-mode: difference;
}

.button-save::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button-save:hover::before {
  transform: translateX(0);
}

.button-save:focus {
  box-shadow: 2px 2px 0 currentColor;
  outline: none;
}

.dialog__diskette {
  max-width: 345px;
  max-height: 191px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 14px;
  margin-bottom: 14px;
  margin-right: 24px;
  margin-left: 18px;
  gap: 30px;
}

.dialog__flex-container {
  display: flex;
  gap: 20px;
  min-width: 263px;
  justify-content: end;
}

.dialog__text {
  font-family: var(--accent-font, 'PressStart2P-Regular', monospace);
  font-size: var(--text-font-size-small, 14px);
  line-height: 150%;
  text-transform: uppercase;
}

.button__ok {
  min-inline-size: 262px;
  max-inline-size: 262px;
  min-block-size: 39px;
  max-block-size: 39px;
  position: relative;
  overflow: hidden;
  background: transparent;
  margin-inline: auto;
  transition: box-shadow 0.3s ease;
}

.button__ok::before {
  content: '';
  position: absolute;
  inset: 0;
  background: #000;
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
}

.button__ok:hover::before {
  transform: translateX(0);
}

.button__ok .button__text {
  position: relative;
  color: white;
  background-color: black;
  mix-blend-mode: difference;
}

.button__ok:focus {
  box-shadow: 2px 2px 0 currentColor;
  outline: none;
}

dialog::backdrop {
  background-color: rgb(0, 0, 0, 0.7);
}

@media (width >= 768px) {
  .page {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .header {
    padding: 100px 0 96px;
  }

  .header__content-block {
    min-width: 705px;
    min-height: 370px;
  }

  .header__title {
    padding-left: 122px;
    padding-right: 122px;
  }

  .main-content {
    max-width: 700px;
  }

  .card-image__container {
    outline: 2px solid #000;
  }

  .card-image {
    max-width: 696px;
    max-height: 696px;
  }

  .button-container__like {
    margin-bottom: 25px;
  }

  .button-container__save {
    margin-left: 182px;
    margin-top: 50px;
    max-block-size: 59px;
    max-inline-size: 335px;
  }

  .button-save {
    min-inline-size: 335px;
    min-block-size: 59px;
    max-inline-size: 335px;
    max-block-size: 59px;
    display: flex;
    flex-direction: row;
  }
}