/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 320px;
  min-block-size: 100dvb;
  font-family: var(--main-font, 'Inter', sans-serif);
  background-image: var(--bg-page-gradient);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.header {
  padding: 100px 0;
  min-block-size: 375px;
  min-height: 527px;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-content: center;
}

.header__content-block {
  font-family: var(--accent-font, 'PressStart2P-Regular', monospace);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border: 2px solid var(--border-color, #000);
  background-color: var(--bg-color);
}

.header__title {
  font-family: var(--accent-font, 'PressStart2P-Regular', monospace);
  font-size: clamp(49px, 43.37px + 1.50vw, 65px);
  font-weight: 400;
  font-style: normal;
}

.header__subtitle {
  font-size: var(--text-font-size-small, 14px);
  font-weight: 400;
  text-transform: uppercase;
}

.main-content {
  display: grid;
  grid-template-columns: 1fr;
}

.main-content__cards-section {
  min-block-size: var(--block-width);
}

.main-content__cards {
  display: grid;
  grid-template-columns: 1fr;
  gap: 49px;
}

.card-item {
  display: flex;
  flex-direction: column;
  border: 2px solid var(--border-color);
  background-color: var(--bg-color);
}

.card__title {
  font-weight: 715;
  font-style: bold;
  font-size: 18px;
  padding: 5px 10px;
}

.card-image__container {
  /* без свойства line-height обёртка изображения
   создаёт лишние пиксели под картинкой */
  line-height: 0;
  position: relative;
}

.card-label {
  position: absolute;
  top: 35px;
  right: 25px;
  opacity: 0.6;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font, 'PressStart2P-Regular', monospace);
  font-size: var(--text-font-size-small, 14px);
}

@supports (text-stroke: 1px #fff) {
  .card-label {
    -webkit-text-stroke: 1px #fff;
  }
}

@supports not (text-stroke: 1px #fff) {
  .card-label {
    text-shadow:
      -1px -1px #fff,
      1px -1px #fff,
      -1px 1px #fff,
      1px 1px #fff;
  }
}

.card-image {
  min-width: 371px;
  min-height: 371px;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.card__text {
  padding: 25px;
  font-size: var(--text-font-size, 18px);
}

.card__text-memories {
  padding-top: 0;
}

.button-container__like {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 25px;
  margin-bottom: 25px;
  gap: 18px;
}

.card__icon-button {
  background-color: transparent;
  border: none;
  width: 27px;
}

.card__like-button {
  font-family: var(--accent-font, 'PressStart2P-Regular', monospace);
  font-size: var(--text-font-size-small, 14px);
  background-color: transparent;
  min-width: 130px;
  min-height: 38px;
}

.button-container__save {
  margin: 51px 34.5px 100px 34.5px;
  background-color: #fff;
}

.button-save {
  min-block-size: 84px;
  min-width: 306px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  font-family: var(--accent-font, 'PressStart2P-Regular', monospace);
  font-size: var(--text-font-size-small, 14px);
}

.dialog-text {
  font-family: var(--accent-font, 'PressStart2P-Regular', monospace);
  font-size: var(--text-font-size-small, 14px);
}