/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
    --bg-page-gradient: 
        repeating-linear-gradient(
            to right,
            #d3d3d3 0,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
        ),
        repeating-linear-gradient(
            to bottom,
            #d3d3d3 0,
            #d3d3d3 2px,
            transparent 2px,
            transparent 4px
        ),
        linear-gradient(
            to bottom,
            #e7e7e7 0.01%,
            #1a1a1a 100%
        );
    --main-font: 'Inter';
    --accent-font: 'PressStart2P-Regular';
    --text-font-size: 18px;
    --text-font-size-small: 14px;
    --border-color: #000;
    --bg-color: #fff;
}